# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
coverage

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Database
*.sqlite
*.sqlite-journal
*.db
*.db-journal
prisma/*.db

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Misc
*.tsbuildinfo
